<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Scripts/bootstrap/dist/css/bootstrap.min.css" />

   
    <link href="/images/favicon_csi.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="padding:0px;">
    <nav id="mainmenu1" class="navbar navbar-expand-lg navbar-dark bg-dark py-0 px-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">

                    <a class="nav-link" href="~/Help/Index">API</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>2021 - INSPIS.PIPE</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
