@model InspisPipe.Models.MyMainButton

<a href="@Model.Url">
    @if (Model.MainText != null)
    {
        @Model.MainText
    }

    @if (!string.IsNullOrEmpty(Model.AddText))
    {
        <br />
        <span class="hint">@Model.AddText</span>
    }

</a>

