

<div class="jumbotron">
    <h1>INSPIS.PIPE</h1>
    <ul>
        <li>
            API pro komunikaci se spisovou službou GINIS.
        </li>
        <li>
            Centrální přihlašování uživatelů přes starý ASP.NET Membership 2.0.
        </li>

    </ul>

    @Html.ActionLink("Přihlásit se do membershipu", "Index", "Login", new { area = "" }, null)
</div>




